body {
  background-color: #ddd;
  color: #444;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #043c96;
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 0.5;
  /*width: 80%;*/
  margin: 0 auto;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main {
  background-color: #ffffff;
  /*margin: 0 auto;*/
  /*padding: 20px;*/
  border-radius: 10px;
  display: flex;
}

h2 {
  color: #363d49;
  margin-top: 1px;
  user-select: none;
}

section {
  flex: 7 1 0%;
  padding: 20px;
  width: 75%;
}

div {
  display: block;
}

aside {
  flex: 3 1 0%;
  background-color: #f4f4f4;
  color: #363d49;
  font-size: 1em;
  padding-left: 15px;
}

.nav {
  position: relative;
  margin: 0 5%;
  text-align: left;
  /*top: 50%;
    transform: translateY(-50%);*/
  /*font-weight: bold;*/
  font-size: small;
}

.date_text_flex {
  display: flex;
  flex-direction: column;
}

.date_flex {
  display: flex;
  padding-right: 0.25rem;
  font-size: 0.75rem;
}

.text_flex1 {
  flex: 1 1;
  padding-right: 1rem;
}

.text_flex2 {
  flex: 5 1;
  min-width: 0;
}
