body {
  background-color: #ddd;
  color: #444;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  font-size: small;
}

header {
  background-color: #043c96;
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 0.5;
  margin: 0 auto;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main {
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  display: flex;
}

h2 {
  color: #363d49;
  margin-top: 1px;
  user-select: none;
}

section {
  flex: 7 1 0%;
  padding: 20px;
  width: 75%;
}

div {
  text-align: justify;
}

aside {
  background-color: #f4f4f4;
  color: #363d49;
  font-size: 1em;
  padding-left: 1rem;
  padding-top: 2rem;
  border-bottom-right-radius: 10px;
}

aside ul {
  list-style: none;
  padding-left: 0.8rem;
}
.date_text_flex {
  display: flex;
  flex-direction: column;
}

.date_flex {
  display: flex;
  padding-right: 0.25rem;
  font-size: 0.75rem;
}

.text_flex1 {
  flex: 1 1;
  padding-right: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.text_flex2 {
  flex: 5 1;
}

@media (max-width: 768px) {
  body {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  aside {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .date_flex {
    flex-direction: column;
  }
  .text_flex1 {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
  }
}
